Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4/
missing
stamp-*
.deps
.dirstamp
depcomp
*.o
.libs
*.la
*.lo

eopkg-ng

# test output
*.log
*.trs
test-driver

# test binaries
check_metadata
